# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

#idea ignore
.idea/

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
.build